html, body {
  width: 100vw;
  height: 100vh;
  margin : 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Verdana";
}

nav, main, footer {
  padding: 1em;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

table {
  border-collapse: collapse;
  border : 1px solid black;
  text-align: center;
}

#memoire {
  width : 100%;
}

td {
  border-color : gray;
}

th {
  font-size: small;
}
input {
  width : 50px;
  height: 30px;
  text-align: center;
  font-family: "Verdana";
  font-size: larger;
}

.es {
  border: 2px solid black;
}

#footer {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#console {
  width: 100%;
  border : 1px solid black;
  flex-grow: 1;
  overflow-y: auto;
}

#console p {
  margin : 0;
}

#instructions, #console {
  font-size: small;
}

.author {
  font-size: small;
  text-align: center;
}

h2 {
  margin: 0;
  text-align: center;
}

.focus_memoire {
  outline: none !important;
  border:5px solid blue;
}

.focus_registre {
  outline: none !important;
  border:5px solid red;
}

.focus_instruction {
  outline: none !important;
  border:5px solid green;
}
